@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #000;
    font-family: poppins;
    font-size: large;
    width: 98%;
    margin: auto;
}

section {
    margin: 1%;
}

h1 {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

h2 {

}

form {

}

form > * {
    display: block;
    padding: 10px;
}

input[type=text], output {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1200px) {
    body {
        width: 70%;
    }
}

